* {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0px;
    padding: 0px;
}

/* Header */
header {
    height: 15svh;
    width: auto;
    display: flex;
    background-image: linear-gradient(to right,rgba(4, 1, 47, 0.985), rgba(4, 1, 47, 0.985));
}

header h1 {
    padding-left:1em;
    color: rgb(255, 255, 255);
    flex-grow: 1;
    align-self: center;
    justify-self: center;
    font-size: 3em;
    position: relative;
    background-image: linear-gradient(to left,rgb(166, 213, 233),rgba(239, 231, 231, 0.784));
    color: transparent;
    background-clip: text;
    animation: surfing 5s linear infinite;
    text-transform: uppercase;
}

@keyframes surfing{
    to{
        background-position-x: 100svw;
    }
}


/* Main */
main {
    width: auto;
    min-height: auto;
    height: fit-content;
    display: flex;
    position: relative;
}

#sideBar {
    width: 150px;
    height: auto;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    flex-shrink: 0;
    position: sticky;
}


#sideBar button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#sideBar.active {
    min-width: 42px;
    width: 42px;
    transition: 0.5s;
}

#sideBar ul {
    padding: 0px;
    width: 100%;
    position: relative;
    /* background-color: blue; */
}

#sideBar ul li {
    list-style: none;
    width: 100%;
    display: flex;
    position: relative;
}

#sideBar ul li a {
    text-decoration: none;
    width: 100%;
    transition: 0.5s;
    padding: 10px 10px 10px 0px;
}

#sideBar ul li a .icon {
    width: 15px;
    min-width: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    opacity: 1;
    position: relative;
    left: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
}

#sideBar ul li a span {
    margin-left: 15px;
    position: relative;
    bottom: 7px;
    color: rgb(250, 250, 250);
    font-weight: bold;
    width: 100%;
    font-size: 14px;
    /* background-size: cover;
            background-clip: text;
            color: transparent; */
}

#sideBar ul li:hover {
    background-color: rgb(195, 195, 205);
    transition: 0.5s;
    transform: scale(1.1);
}

#sideBar ul li:hover .icon {
    background-color: rgb(101, 188, 226);
}

#content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
}

#content table {
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
}


/* Footer */
footer {
    min-height: 10svh;
    height: fit-content;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    * {
        font-size: 12px;
    }
    #sideBar{
        width: 42px;
    }
}

#sideBar{
    background-color: #182225;
}
header,
footer {
    background: 	#23353b;
    z-index: 10;
}
