        #sideBar {
            background-color: red !important;
        }

        #content {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            grid-template-areas:
                "a1 a2"
                "a1 a3"

            ;
            gap: 5%;
            padding: 10px;
        }

        #a1, #a2, #a3{
            height: fit-content;
            width: fit-content;
            justify-self: center;
        }
        #a1 {
            grid-area: a1;
        }

        #a2 {
            grid-area: a2;
        }

        #a3 {
            grid-area: a3;
            width: 100%;
            display: flex;
            gap: 10px;
            justify-content: center;
        }

        #a3 button {
            border: 1px solid white;
            border-radius: 10px;
            width: 120px;
            height: 50px;
            padding: 5px;
            /* background: linear-gradient(to bottom, rgba(157, 216, 255, 1), rgba(25, 64, 148, 0.9)); */
            color: white;
            transition: 0.5s;

        }

        #a3 button:hover {
            /* transition: 1.5s; */
            transform: scale(1.1);
            animation: slide 0.3s forwards;
        }

        .btn-donate {
            --clr-font-main: #333;
            --btn-bg-1: #61daff;
            --btn-bg-2: #0d47a1;
            --btn-bg-color: #fff;
            --radii: 0.5em;
            background-image: linear-gradient(325deg, var(--btn-bg-2) 0, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
            background-size: 280% auto;
            border: none;
            border-radius: var(--radii);
            box-shadow: 0 0 20px #47b8ff80, 0 5px 5px -1px #3a7de940, inset 4px 4px 8px #afe6ff80, inset -4px -4px 8px #135fd859;
            color: var(--btn-bg-color);
            cursor: pointer;
            font-family: Segoe UI, system-ui, sans-serif;
            font-size: 1rem;
            font-size: var(--size, 1rem);
            padding: .5em 1em;
            transition: .8s;
        }

        @keyframes slide {
            to {
                background-position-y: -50px;
                background-position-x: -120px;
            }

        }

        .box {
            min-width: fit-content;
            min-height: fit-content;
            padding: 10px;
            border: 2px solid #ddd;
            border-radius: 10px;
            background-color: #eee;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        input,
        textarea,
        select,
        option {
            width: fit-content;
            max-width: 200px;
            background: rgba(255, 255, 255, 1);
            border-width: 0px;
            border-radius: 5px;
            color: rgba(155, 154, 154, 1)
        }

        td {
            padding: 20px;
        }

        @media only screen and (max-width: 1000px) {
            #content {
                grid-template-areas:
                    "a3"
                    "a1"
                    "a2"
                ;
                /* gap:100px; */
            }

            #a1,
            #a2,
            #a3 {
                min-height: fit-content !important;
                height: fit-content;
            }

        }