.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}

table {
    width: 100%;
    margin-top: 16px;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 6px 12px;
    text-align: center;
}

#searchBar input,
#searchBar select {
    width: fit-content;
    height: 1.5em;
    min-height: fit-content;
    background-color: #eee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.2em;
    border-width: 0px;
    color: black;
}

#searchBar button {
    width: fit-content;
    height: 1.5em;
    min-height: fit-content;
    border-radius: 0.2em;
    border-width: 1px 1px;
    background-color: #eee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;

}

#searchBar button:hover {
    transition: 0.2s;
    transform: scale(1.1);
    background-color: rgba(140, 134, 134, 1);
    color: white;
}

#pagin {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}

#canBoList {
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
    background-color: red;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.2em;
}

#canBoList th,
#canBoList td {
    width: fit-content;
    min-width: 75px;
    max-width: 150px;
    padding: 2px 0px;
    border: 1px solid rgba(222, 221, 221, 1);
}

#canBoList th {
    padding: 5px;
    background-color: #0d6efd;
    color: white;
    font-size: 0.8em;
}

#canBoList tr {
    background-color: rgba(255, 255, 255, 1);
}

#canBoList tr:nth-child(2n) {
    background-color: rgba(217, 235, 245, 1);
}

#canBoList tbody tr:hover {
    filter: brightness(0.9);
}