body {
    display: grid;
    grid-template-columns: auto minmax(80svw, 100svw);
    grid-template-rows: auto ;
    grid-template-areas:
        "sideBar main";
    position: relative;
}

#sidebar {
    grid-area: sideBar;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    position: sticky;
    top:0px;
    z-index: 100;
}

#sideHead {
    height: 8svh;
    box-sizing: border-box;
}

#remain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#main {
    grid-area: main;
    display: grid;
    grid-template-rows: 8svh auto 8svh;
    grid-template-areas:
        "header"
        "content"
        "footer"
    ;
    margin: 0px;
}

#header {
    grid-area: header;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #001528;
    transition: margin-left 0.3s ease;
    z-index: 1000;
}

#content {
    grid-area: content;
    box-sizing: border-box;
    overflow-y: auto;
}

#footer {
    grid-area: footer;
    background-color: #edeaea;
    color: #001528;
    font-size: 14px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    box-sizing: border-box;
}

@media only screen and (max-width: 1000px) {
    * {
        font-size: 10px;
    }
}